* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: black;
    color: brown;
    /* min-height: 2000px; */
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7%;
    background-color: brown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.navbar .navbar-logo span {
    color: black;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: black;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid whitesmoke;
    transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
    transition: 0.2s linear;
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-img img{
    width: 5rem;
    vertical-align: left;
    border-radius: 3rem;
}

* {box-sizing:border-box}

/*slideshow container*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/*hide the images by default*/
.mySlides {
  display: outside;
}

/*next and previous buttons*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: brown;
}

/*position the "next button" to the right*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*on hover, add a black background color with a little bit see-through*/
.prev:hover, .next:hover {
  background-color: white;
  color: saddlebrown;
}

/*the dots/bullets/indicators*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: brown;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: brown;
}

/*fading animation*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* about section */
main .intro {
    z-index: 100;
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 50%;
}
main .intro h2 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}
main {
  padding: 30px 0px 30px 0px;
}
main .about h3 {
  font-size: 30px;
}
main .about h3::after {
  content: "";
  border-bottom: 5px solid white;
  width: 52px;
  display: block;
  margin: 15px auto;
}
#aboutus {
  text-align: center;
}
main p {
  font-style: normal;
  font-size: 15px;
  color: brown;
}

/*artikel section*/
h1 {
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  font-size: 25px;
}
.kumpulan-artikel {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
}
.isi-artikel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.isi-artikel .kartu {
  flex: 1;
  margin: 20px 20px;
  box-shadow: 0px 2px 8px 0px whitesmoke;
}
.isi-artikel .kartu img {
  width: 100%;
  height: auto;
}
.isi-artikel .kartu h2 {
  margin: 15px 0px;
  font-size: 25px;
  color: brown;
}
.isi-artikel .kartu p {
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 20px;
  color: white;
}

/*gallery*/
.gallery h1 {
  font: 700;
  content: "";
  border-bottom: 5px solid white;
  display: block;
}
section#galeri {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

section#galeri div {
  padding: 10px;
}

section#galeri div .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

section#galeri div .row .column {
  flex: 50%;
  padding: 0 5px;
}

section#galeri .column img {
  margin-top: 15px;
  vertical-align: middle;
}

section#galeri div img {
  height: 150px;
  border-radius: 5px;
}

section#galeri div img:hover {
  transition: all 0.25 ease-in-out;
  transform: scale(1.1);
}

/*about*/
.tentangkami {
  margin: 5rem;
}
.tentangkami img {
  border-radius: 4px;
}
.tentangkami p {
  text-align: center;
  color: whitesmoke;
}

/*contact*/
.contact-wrap {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.contact-wrap .contact-in h1 {
  font: 700;
  text-align: center;
  color: white;
}
.contact-in {
  padding: 40px 30px;
}
.contact-wrap .contact-in h2 {
  text-align: center;
  font: 400;
  font-size: large;
}
.contact-wrap .contact-in p {
  text-align: center;
}

/*footer*/
footer {
  background-color: brown;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .socials {
  padding: 1rem 0;
}
footer .socials a {
  color: white;
  margin: 1rem;
}
footer .socials a:hover {
  color: black;
}
footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: white;
  padding: 0.7rem 1rem;
}
footer .links a:hover {
  color: black;
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: white;
  font-weight: 700;
}
footer .credit p {
  color: white;
}